:root {
  --white: #ffffff;
  --gray: #F2F0F0;
  --gray-dirt: #0E2E3B;
  --gray-border: #DADADA;
  --gray-placeholder: #8A8A8A;
  --gray-link: #494949;
  --text-primary: #2C2C2C;
  --table-row-border: #CCCCCC;
  --table-row-v1: #F7F7F7;
  --checkbox-stroke: #B0B1B5;
  --select-text: #5F6163;
  --select-text-selected: #403CF7;
  --select-backgroud-selected: #E2E2FE;
  --select-text-default: #929496;
  --red-remove-text: #791919;
  --red-remove-background:  #F8E8E8;
  --reject-tint: #F8E8E8;
  --success-tint: #E9F8E8;
  --pending-tint: #F8F3E8;
}
